<p id="notice"><%= notice %></p>

<p>
  <strong>Productnumber:</strong>
  <%= @store.productnumber %>
</p>

<p>
  <strong>Title:</strong>
  <%= @store.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

<p>
  <strong>Text:</strong>
  <%= @store.text %>
</p>

<%# <%= link_to 'Edit', edit_store_path(@store) %> 
<%= link_to 'Back', stores_path %>
