<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :nick %>
    <%= form.text_field :nick %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%= form.text_field :birth %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.text_field :from %>
  </div>

  <div class="field">
    <%= form.label :tall %>
    <%= form.number_field :tall %>
  </div>

  <div class="field">
    <%= form.label :hobby %>
    <%= form.text_field :hobby %>
  </div>

  <div class="field">
    <%= form.label :skill %>
    <%= form.text_field :skill %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
